@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #000000;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Geist, Arial, Helvetica, sans-serif;
}

/* h2{
  font-weight: bold;
  font-size: 56px;
} */


@layer utilities {
  h1 {
    @apply text-4xl font-bold;
  }
  h2 {
    @apply text-4xl md:text-[56px] leading-[60px] font-bold;
  }
}

